* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
}
a {
  color: black;
}

:root {
  --white: rgb(251, 251, 251);
  --yellow: rgb(251, 255, 129);
  --gray: rgb(240, 242, 244);
  --darkgray: rgb(141, 141, 141);
  --blue: rgb(83, 92, 215);
  --green: rgb(237, 189, 81);
}

body {
  background-color: var(--gray);
}
#root {
  width: 1000px;
  margin: auto;
}

header {
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 20px;
  padding: 15px 15px 10px 15px;
  display: flex;
  gap: 15px;
  align-items: top;
  border-radius: 0 0 20px 20px;
}
header a {
  font-size: 2rem;
}
header p {
  margin-left: auto;
  font-size: 1.5em;
  align-self: center;
}

main {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

aside {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  width: 280px;
  gap: 10px;
}

aside a {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 20px;
}

.wall {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.event {
  border-radius: 20px;
  background-color: var(--white);
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 20px;
}
.nextEvent {
  display: flex;
  justify-content: space-between;
}
.event > hr {
  margin-top: 20px;
}
.eventBody {
  margin-top: 15px;
  font-size: 2em;
  text-align: center;
}
.event span:first-child {
  font-size: 2em;
}
.event p {
  font-size: 1.5em;
  text-align: center;
}
.event.active {
  background-color: var(--yellow);
}

.eventTitle {
  color: var(--darkgray);
  text-align: center;
}

.time {
  font-size: 2em;
}

.left {
  text-align: left !important;
}

mark.blue {
  color: var(--blue);
}
mark.bold {
  font-weight: 500;
}
mark.big {
  font-size: 1.5em;
}
.calendar svg {
  height: 50px;
}
