* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
}
a {
  color: black;
}

:root {
  --white: rgb(251, 251, 251);
  --prewhite: rgb(240, 240, 240);
  --darkwhite: rgb(220, 220, 220);
  --yellow: rgb(251, 255, 129);
  --gray: rgb(240, 242, 244);
  --darkgray: rgb(141, 141, 141);
  --blue: rgb(83, 92, 215);
  --green: rgb(237, 189, 81);

  --large: 2rem;
  --big: 1.75rem;
  --mid: 1.5rem;
  --small: 1rem;
}

body {
  background-color: var(--gray);
}
#root {
  width: 1000px;
  margin: auto;
}
@media (max-width: 800px) {
  #root {
    width: 600px;
  }
  aside {
    display: none!important;
  }
}

header * {
  user-select: none;
}

header {
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px;
  padding: 15px 15px 10px 15px;
  display: flex;
  gap: 15px;
  align-items: start;
  border-radius: 0 0 10px 10px;
}
header a {
  font-size: var(--large);
}
header p {
  margin-left: auto;
  margin-bottom: 5px;
  font-size: var(--mid);
  align-self: center;
}

main {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

aside {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  width: 280px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px;
  height: auto;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
}

aside a {
  font-size: var(--mid);
  padding: 16px;
  text-align: center;
  border-radius: 10px;
}
aside a:hover {
  background-color: var(--prewhite);
}
aside a:focus, aside a.active {
  background-color: var(--darkwhite);
}

.wall {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.event {
  border-radius: 10px;
  background-color: var(--white);
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px;
}
.login {
  padding: 20px;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px;
}
.login input {
  padding: 7px 10px;
  font-size: var(--mid);
}
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.infoTitle {
  text-align: center;
  padding: 15px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
}
.subjectBar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--white);
  font-size: var(--mid);
}
.midbox {
  border-radius: 10px;
  /*background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 20px;*/
  padding: 5px 15px 0 15px;
  display: flex;
  justify-content: space-between;
  gap: 10px
}
.midbox input {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px;
}
.event.create {
  display: flex;
  flex-direction: column;
}
.event label:not(:first-child) {
  margin-top: 20px;
}

.subject {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--white);
}
.subject input {
  background-color: var(--gray);
  margin-top: 5px;
}
.ant-picker-input>input {
  margin: 10px!important;
}
input {
  outline: none;
  padding: 10px;
  font-size: var(--small);
  font-weight: 500;
  border: solid 1px black;
  border-radius: 10px;
  cursor: text!important;
}
.btn {
  font-size: var(--mid);
  padding: 10px 30px;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--prewhite);
}
.btn:active {
  background-color: var(--darkwhite);
}
.nextEvent {
  display: flex;
  justify-content: space-between;
}
.event > hr {
  margin-top: 20px;
}
.eventBody {
  margin-top: 15px;
  font-size: var(--big);
  text-align: center;
}
.event span:first-child {
  font-size: 2em;
}
.event p {
  font-size: var(--mid);
  text-align: center;
}
.event.active {
  background-color: var(--yellow);
}

.eventTitle {
  color: var(--darkgray);
  text-align: center;
}

.time {
  font-size: 2em;
}

.left {
  text-align: left !important;
}

.blue {
  color: var(--blue);
}
.bold {
  font-weight: 500;
}
.big {
  font-size: var(--big);
}
.center {
  text-align: center!important;
}
.mup {
  margin-top: 20px;
}
.mid {
  font-size: var(--mid);
}
.calendar svg {
  height: 50px;
}
