* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
}
a {
  color: black;
}

:root {
  --white: rgb(251, 251, 251);
  --gray: rgb(240, 242, 244);
  --blue: rgb(83, 92, 215);
  --green: rgb(237, 189, 81);
}

body {
  background-color: var(--gray);
}
#root {
  width: 1000px;
  margin: auto;
}


header {
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 20px;
  padding: 15px 15px 10px 15px;
  display: flex;
  gap: 15px;
  align-items: top;
}
header a {
  font-size: 2rem;
}

main {
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
  width: 280px;
  gap: 10px;
  margin-top: 10px;
}

aside a {
  font-size: 1.5rem;
  padding: 1rem;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 20px;
}


mark.blue {
  color: var(--blue);
}
mark.bold {
  font-weight: 500;
}
.calendar svg {
  height: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
